@charset "utf-8";


* { 
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

.overflow_text{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.clearbox::after{
	display:block;
	content:"";
	clear:both;
}

html,
body
{ 
	position:relative;
	font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","PingFang SC","Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif; 
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch; 
}



